<form action="#/catalog/create" method="post">


    <div class="form-group">
        <img id="test1" data-snimka="1KriloLqvoOtvarqneNaklanqne.png" src="../../../snimki/1KriloLqvoOtvarqneNaklanqne.png" alt="">
    </div>


    <div class="form-group">
        <select name="selectClient" id="selectClient">
            {{#each clients}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    

    <div class="form-group">
        <label for="profilMaterial">Избери Материал: </label>
        <select class="form-control" name="profilMaterial" id="profilMaterial">
            <option value=""></option>
            <option value="pvc">PVC</option>
            <option value="aluminium">Aluminium</option>
        </select>
        <div id="selectProfilPanel"></div>

    </div>

    <div class="form-group">
        <label for="width">Ширина: </label>
        <input class="form-control" type="text" id="width" name="width" />
    </div>

    <div class="form-group">
        <label for="height">Височина: </label>
        <input class="form-control" type="text" id="height" name="height" />
    </div>

    <div class="form-group">
        <label for="staklopaket">Стаклопакет: </label>
        <select class="form-control" name="staklopaket" id="staklopaket">
            <option value=""></option>
            <option value="dvoen">Двоен</option>
            <option value="troen">Троен</option>
        </select>

        <div id="selectGlassPanel"></div>


    </div>

    <div class="form-group">
        <label for="checkBoxShtora">Щора: </label>
        <input id="checkBoxShtora" type="checkbox" name="checkBoxShtora" /> {{!-- {{#if imaShtora}} ffffff {{/if}} --}}
        <div id="forselect"></div>
    </div>

    <input class="btn btn-default" type="submit" value="Create Frame" />
</form>