<h2>
    Create Frame</h2>
<form action="#/catalog/create" method="post">
    <div class="row">
        <div class="col-md-4">

            <div class="form-group">
                <img class="hideSelect" style="width: 50%" id="testRoller" data-snimka-id="1KriloLqvoOtvarqneNaklanqne.png" src="../../../snimki/Shtora.png"
                    alt="">
                <img style="width: 50%" id="test1" data-snimka-id="" src="" alt="">
            </div>
        </div>
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-4">
                    <p>Избери Клиент: </p>
                </div>
                <div class="col-md-8">

                    <div class="row">
                        <div class="form-group">
                            <select name="selectClient" id="selectClient">
                                {{#each clients}}
                                <option value="{{name}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>



            {{> profilMaterial}} {{> width}} {{> height}} {{> staklopaket}} {{> shutter}} {{> mreja}}

        </div>
    </div>





    <input class="btn btn-default" type="submit" value="Create Frame" />
</form>