<div class="row">
    <div class="col-md-3">
        <p>Избери Схема: </p>
    </div>
    <div class="col-md-9">

        <div class="row">
            <div class="col-md-4">
                <input type="radio" id="ednokril" name="frameSchema" value="ednokril1">
                <label for="ednokril">Ednokril</label>
            </div>
            <div class="col-md-4">
                <input type="radio" id="dvukril" name="frameSchema" value="dvukril1">
                <label for="dvukril">Dvukril</label>
            </div>
            <div class="col-md-4">
                <input type="radio" id="noSchema" name="frameSchema" value="hide1">
                <label for="noSchema">Празно</label>
            </div>
        </div>
        <div class="row">

            <section style="width: 80%" class="hideSelect" id="ednokrilSection">
                <img class="show" data-target="EdnoKriloContainer" style="height:90%" src="../../../snimki/1KriloLqvoOtvarqneNaklanqne.png"
                    alt="">
                <img class="show" data-target="EdnoKrilStatilDelitelContainer" style="height:90%" src="../../snimki/ednokrilKasaSFix.png"
                    alt="">

            </section>


        </div>
        <div class="row">
            <section style="width: 80%" class="hideSelect" id="dvukrilSection">
                <img class="show" data-target="DveKrilaContainer" style="height:90%" src="../../snimki/dvukrilDqsnoNkalqnqne.png   " alt="">

            </section>
        </div>
        <div class="row">
            <section style="width: 80%" class="hideSelect" id="hideAll">No Pictures</section>
        </div>


    </div>
</div>