<div class="container">
    {{> header}}
        <div>
            <h1>Create Client</h1>
                {{#each clients}}
                <h3>ddd</h3>
                {{/each}}
                {{> createForm}}
        </div>
</div>