<a href="#/catalog/:{{_id}}" class="team-box">
    <span class="spanner">Frame width</span>
    <span class="title">{{width}}</span>
    <span class="spanner">Frame height</span>
    <span class="title">{{height}}</span>
</a>

