<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <label for="height">Височина: </label>
        </div>
        <div class="col-md-8">
            <input class="form-control" type="number" id="height" name="height" />
        </div>
    </div>
</div>