<div class="form-group">
        <label for="checkBoxMreja">Мрежа: </label>
        <input id="checkBoxMreja" type="checkbox" name="checkBoxMreja" />
        <div id="forSelectMreja"></div>
    </div>