<div >
    <div class="row">
        <div class="col-md-4">
            <label for="checkBoxMreja">Мрежа: </label>
            <input id="checkBoxMreja" type="checkbox" name="checkBoxMreja" />
        </div>
        <div class="col-md-8">
            <div id="forSelectMreja"></div>
        </div>
    </div>
</div>