<div class="form-group">
        <label for="profilMaterial">Избери Материал: </label>
        <select class="form-control" name="profilMaterial" id="profilMaterial">
            <option value=""></option>
            <option value="pvc">PVC</option>
            <option value="aluminium">Aluminium</option>
        </select>
        <div id="selectProfilPanel"></div>
    </div>