<div>
    <input type="radio" id="rollerShutter" name="shutter" value="roller">
    <label for="rollerShutter">Щора</label>

    <div class="hideSelect" id="rollerContainer">
        <select class="form-control" name="roller" id="roller">
            <option value="buildOn">надградена</option>
            <option value="buildIn">предна</option>
        </select>
    </div>


    <input type="radio" id="wingShutter" name="shutter" value="wingSwing">
    <label for="wingShutter">Капаk</label>

    <div class="hideSelect" id="wingShutterContainer">
        <select class="form-control" name="wingSwing" id="wingSwing">
            <option value="kapak1">капак1</option>
            <option value="kapak2">капак2</option>
        </select>
    </div>


    <input type="radio" id="shutterEmpty" name="shutter" value="noShutter">
    <label for="shutterEmpty">Празно</label>
</div>