<div>
    <input type="radio" id="checkBoxShtora" name="shutter" value="rollerShutter">
    <label for="checkBoxShtora">Щора</label>
    <div class="hideSelect" id="forselectShtora">
        <select class="form-control" name="selectShtora" id="selectShtora">
            <option value="overframe">надградена</option>
            <option value="frontframe">предна</option>
        </select>
    </div>


    <input type="radio" id="checkBoxKapak" name="shutter" value="normalShutter">
    <label for="checkBoxKapak">Капаk</label>
    <div class="hideSelect" id="forselectKapakRadio">
        <select class="form-control" name="selectKapak" id="selectKapak">
          <option value="kapak1">капак1</option>
         <option value="kapak2">капак2</option>   
        </select>
    </div>


    <input type="radio" id="radioBoxEmpty" name="shutter" value="noShutter">
    <label for="radioBoxEmpty">Празно</label>
</div>