<div>














</div>

<div>
    <div class="row">
        <div class="col-md-3">
            <p>Избери Пълнеж: </p>
        </div>
        <div class="col-md-9">

            <div class="row">
                <div class="col-md-3">
                    <input type="radio" id="staklopaketDvoen" name="fillingMaterial" value="dvoen">
                    <label for="staklopaketDvoen">Двоен</label>
                </div>
                <div class="col-md-3">
                    <input type="radio" id="staklopaketTroen" name="fillingMaterial" value="troen">
                    <label for="staklopaketTroen">Троен</label>
                </div>
                <div class="col-md-3">
                    <input type="radio" id="staklopaketPanel" name="fillingMaterial" value="panel">
                    <label for="staklopaketPanel">Панел</label>
                </div>
                <div class="col-md-3">
                    <input type="radio" id="staklopaketEmpty" name="fillingMaterial" value="noStaklopaket">
                    <label for="staklopaketEmpty">Празно</label>
                </div>
            </div>
            <div class="row">
                <div style="width: 80%" class="hideSelect" id="dvoenStaklopaketContainer">
                    <select class="form-control" name="selectDvoen" id="selectDvoen">
                        <option value="wk">Бяло+Ка</option>
                        <option value="ww">Бяло+Бяло</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div style="width: 80%" class="hideSelect" id="troenStaklopaketContainer">
                    <select class="form-control" name="selectTroen" id="selectTroen">
                        <option value="wwk">Бяло+Бяло+Ка</option>
                        <option value="www">Бяло+Бяло+Бяло</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div style="width: 80%" class="hideSelect" id="panelStaklopaketContainer">
                    <select class="form-control" name="selectPanel" id="selectPanel">
                        <option value="p1">Панел 1</option>
                        <option value="p2">Панел 2</option>
                    </select>
                </div>
            </div>


        </div>
    </div>


</div>