<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <label for="width">Ширина: </label>
        </div>
        <div class="col-md-8">
            <input class="form-control" type="number" id="width" name="width" />

        </div>
    </div>
</div>